* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body{
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(./assets/Louvre_Museum_Wikimedia_Commons.jpg);
  background-position: 50%;
  background-position-y: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-blend-mode: color;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px 0px;
}

.navbar__links-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbar__links-container li a {
  color: white;
}

.navbar__links-container li:hover {
  border-bottom: 1px solid white;
  transition: 0.9s;
}

.navbar__links-container li {
  color: white;
  margin-right: 30px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 60px;
}

.main__title {
  font-size: 40px;
  margin-bottom: 15px;
}

.main__subtitle {
  font-size: 30px;
  margin-bottom: 35px;
}

.main__text {
  max-width: 1300px;
}

.images-container{
  display: flex;
  justify-content: space-evenly;
}

.images-container img{
  height: 300px;
  border-radius: 30px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

/************************************CONTACTO************************************/
.form-fieldset {
  background-color: black;
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fieldset h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-control, .msg {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 2px;
}

.msg {
  width: 332px;
  margin-bottom: 20px;
  max-width: 332px;
  min-width: 332px;
  height: 200px;
  min-height: 200px;
  max-height: 300px;
}

.msg{
  padding: 5px;
  margin-left: 40px;
}

input{
  padding: 5px!important;
  max-width: 400px;
}

.pepe{
  display: flex;
  max-width: 800px;
}

.form-data{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*EXHIBICIONES Y EVENTOS*/

.cards__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card h2{
  margin-bottom: 5px;
}

.card{
  max-width: 400px;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  padding: 30px;
}

.card img{
  border-radius: 30px;
}